/* -----------------------------------------------------------------------

Main CSS File for Lead the Way Campaign

----------------------------------------------------------------------- */
html {font-size:100.1%;}
body {font-size:75%;color:#000;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
hr {background:#ccc;color:#ccc;width:100%;height:2px;margin:2em 0;padding:0;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
h1, h2, h3, h4, h5, h6 {font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;font-weight:bold;}
h1{font-size:2.25em;}
h2{font-size:2em;}
h3{font-size:1.75em;}
h4{font-size:1.5em;}
h5{font-size:1.25em;}
h6{font-size:1.1em;}
a{color:#00aeef;text-decoration:none;}
a img {border:none;}
p img.top {margin-top:0;}

#container {background:none;width:980px;margin:0px auto;}

/*** Header ***/
#header{margin-bottom:30px;}
#header #logo{position:absolute;top:0px; background:url(/++resource++avrc.theme.leadtheway.static/img/logo.png) no-repeat;width:145px;height:120px;margin:30px 0px 40px 90px; z-index:10; text-indent:-9999px;}

/* Header: Slideshow */
#header #slideshow{width:980px;height:395px;overflow:hidden;}
#header #panel{width:980px;height:395px;overflow:hidden;}

/* Header: Caption */
#header #caption{height:60px;background:#393636;}
#header #caption div {float:left;}
#header #caption .would-you {border-right:2px #fff solid;}
#header #caption .would-you h3{float:left;width:490px;height:60px;background-image:url(/++resource++avrc.theme.leadtheway.static/img/wouldyou.gif);text-indent:-9999px;}
#header #caption .would-you h3.he-would{background-position:0px 0px;}
#header #caption .would-you h3.she-would{background-position:0px -64px;}
#header #caption .would-you h3.they-would{background-position:0px -128px;}
#header #caption .leader-select{position:relative;width:485px;height:60px;background:url(/++resource++avrc.theme.leadtheway.static/img/leader-select-bg.gif) no-repeat;}
#header #caption .leader-select .info {margin:25px 0px 0px 80px;width:325px;}
#header #caption .leader-select .info .zipcode{float:right;color:#bcbbbb;}
#header #caption .leader-select .info .highlight{color:#000;}
#header #caption .leader-select a{position:absolute;display:block;width:22px;height:29px; margin:17px 15px;text-indent:-9999px;background-image:url(/++resource++avrc.theme.leadtheway.static/img/caption-arrows.gif);background-repeat:no-repeat;}
#header #caption .leader-select a.prev{left:0px;background-position:0px 0px;}
#header #caption .leader-select a.next{right:0px;background-position:-25px 0px;}
#header #caption .leader-select p{float:left;width:320px;margin:25px 20px;padding-left:10px;}


/* Header: Navigation */
#nav{position:absolute;top:0px;background:url(/++resource++avrc.theme.leadtheway.static/img/nav-bg.png);width:170px;margin-left:60px;padding:190px 0px 20px 40px;z-index:1;}
#nav li{list-style:none;padding-bottom:7px;}
#nav li a{display:block;width:160px;height:23px;text-indent:-9999px;}
#manifesto{background-image:url(/++resource++avrc.theme.leadtheway.static/img/nav-manifesto.png);}
#leaders{background-image:url(/++resource++avrc.theme.leadtheway.static/img/nav-leaders.png);}
#the-plan{background-image:url(/++resource++avrc.theme.leadtheway.static/img/nav-theplan.png);}
#stop-by{background-image:url(/++resource++avrc.theme.leadtheway.static/img/nav-stopby.png);}
#say-hi{background-image:url(/++resource++avrc.theme.leadtheway.static/img/nav-sayhi.png);}
#nav li a:hover {background-position: 0px -25px;}

/* Content */
#content{padding:0px 30px;}

/*** Footer ***/
#footer{margin:-100px 30px 10px 30px;}
#footer img{margin-right:35px;}
#footer #bar{height:22px;padding:0px 25px;background:#393636;}
#footer #bar a{color:#fff; padding-right:20px;}

#bar ul{text-decoration:none;}
#bar li{display:inline;}

/** Home Page Styles **/

#home h2{font-family: "Georgia", Times, serif;margin-bottom:13px;}
#home #steps{color:#fff;}
#home #steps li{float:left;position:relative;padding:25px;width:178px;height:150px;list-style:none;background:#393636;border-left:2px #ffffff solid;z-index:1;}
#home #steps li h3{width:175px;height:23px;margin-bottom:15px;text-indent:-9999px;}
#home #steps li:first-child{border-left:0px #ffffff solid;}
#home #steps li,#home #steps h3{font-size:20pt;font-weight:bold;}
#home #steps li p{font-family: "Georgia", Times, serif;font-weight:normal;font-size:10pt;}
#home #steps li p.button1,#home #steps li p.button2{position:absolute;bottom:0;}
#home #steps li p.button1 a,#home #steps li p.button2 a{padding-right:25px;font-weight:bold;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;background:url(/++resource++avrc.theme.leadtheway.static/img/mini-arrow.png) 95% 0px no-repeat;}
#home #steps li p.button1{float:left;width:230px; margin-left:-23px;text-align:right;text-transform:lowercase;background:url(/++resource++avrc.theme.leadtheway.static/img/step-footer1.png) no-repeat;}
#home #steps li p.button2{float:right;width:230px; margin-left:-25px;text-align:right;background:url(/++resource++avrc.theme.leadtheway.static/img/step-footer2.png) no-repeat;}
#home #steps li p.button1 a{margin-right:5px;}
#home #steps li p.button2 a{margin-right:30px;}

/** Plone Home Page Styles **/
#port-stop-by h3{background:url(/++resource++avrc.theme.leadtheway.static/img/stop-by.png) no-repeat;}
#port-say-hi h3{background:url(/++resource++avrc.theme.leadtheway.static/img/say-hi.png) no-repeat;}
#port-tell-others h3{background:url(/++resource++avrc.theme.leadtheway.static/img/tell-others.png) no-repeat;}
#port-learn-more h3{background:url(/++resource++avrc.theme.leadtheway.static/img/learn-more.png) no-repeat;}

/* Social Links */
.social-links {display:block; border-left:1px solid #fff;}
.social-links a{float:left;display:block;width:27px;height:25px;margin:10px 5px 10px 25px;padding:10px 0px;background-image:url(/++resource++avrc.theme.leadtheway.static/img/social-icons.png);background-repeat:no-repeat; text-indent:-9999px;}
.social-links a.twitter{background-position:0px 7px;margin-left:0px;}
.social-links a.facebook{background-position:-26px 7px;}
.social-links a.email{background-position:-52px 7px;}
